203/203/FailureBO.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://Acord203Service" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="FailureBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FailureMsg" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FailureDetail" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FailureOrigin" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>